<form name="loginForm">
        <h1 class="h1">Login</h1>
        <div class="center">
                <p>Email <input type="email" ng-model="email" placeholder="Enter the email"  required> </input></p>
        
                <p>Password <input type="password" ng-model="password" placeholder="Enter the password" required> </input></p>
              
                <p><button ng-click="loginUser()" class="button">Login</button> </p>
                <a ui-sref="forgotPassword" class="h2">Forgot password?</a>
</form>