<form>
    <h1>register</h1>
    <div ng-controller="registerController">
            <p>First Name: <input type="text" ng-model="firstName"></input></p>
            <p>Last Name: <input type="text" ng-model="lastName"> </input></p>
            <p>Email: <input type="text" ng-model="email"> </input></p>
            <p>Password: <input type="text" ng-model="password"> </input></p>
            <p><button ng-click = "submitForm()">Submit</button> </p>
            <p>{{registerController.firstName}}</p>
        </div>
</form>