<form  name="resetForm">
        <h1 class="h1">Reset Password</h1>
        <div class="center">
                Password <input type="password" ng-model="password" name="password" placeholder="enter the password" required ng-minlength="5"> </input>
                <span style="color:red" ng-show="resetForm.password.$dirty && resetForm.password.$invalid" >
                                <span ng-show="resetForm.password.$error.required">Password field is required</span>
                                <span ng-show="resetForm.password.$error.minlength">Password must be 5 characters long</span>
                        </span> 
                
                <div class="space"></div>
                Confirm Password <input type="password" ng-model="confirmPassword" name="confirmPassword"
                ng-pattern="password" placeholder="enter the password again" required> </input>
                <span style="color:red" ng-show="resetForm.confirmPassword.$dirty && resetForm.confirmPassword.$invalid">
                                <span ng-show="resetForm.confirmPassword.$error.required">Confirm Password field is required</span>
                                <span ng-show="resetForm.confirmPassword.$error.pattern">Passwords did not match</span>
                        </span> 
                <div class="space"></div>


                 <button ng-click="resetPassword()" class="button"
                 ng-disabled="(resetForm.password.$invalid)||( resetForm.confirmPassword.$invalid)">Reset</button>
</form> 
